.text{
    color: rgb(12, 8, 11);
}

body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.background {
    color: rgb(239, 245, 255);
}

.nav {
    width: 100%;
    z-index: 2;
    position: fixed;
    background-color: black;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    width: auto;
    left: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12, 8, 11);
    position: sticky;
    top: 0;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}

li a:hover {
    background-color: rgb(154, 154, 154);
}

.accent {
    color: rgb(225, 232, 240);
}

.grey {
    color: rgb(154, 154, 154);
}

body {
    background: rgb(164, 180, 148);
}

.footer {
    background: darkgray;
    color: white;
    padding: 10px;
    margin-top: 10px;
    clear: both;
}
/*for social media icons*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    transition-duration: 0.2s;
}
  
.fa:hover {
    opacity: 0.7;
}
  