.text{
    color: rgb(12, 8, 11)
}
.background{
    color: rgb(239, 245, 255)
}
.logo{
    background-color:rgb(159, 190, 129)
}
.accent{
    color:rgb(225, 232, 240)
}
.grey{
    color:rgb(154, 154, 154)
}